.body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .form__wrap1 {
    width: 1440px;
    height: 769px;
    background: #030a70;
    border: 1px solid gray;
    margin: 50px;
  }
  .main {
    position: relative;
    width: 600px;
    height: 415px;
    background-color: white;
    border-radius: 20px;
    left: 300px;
    top: 60px;
  }
  .text {
    text-align: center;
    color: rgb(136, 135, 135);
    font-family: Roboto;
    font-size: 3rem;
    line-height: 78px;
  }
  .text__email {
    position: relative;
    left: 90px;
    top: -20px;
    font-size: 1rem;
  }
  .email {
    position: relative;
    width: 420px;
    height: 30px;
    top: 11px;
    left: 35px;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(207, 206, 206);
  }
  .password {
    position: relative;
    width: 420px;
    height: 30px;
    top: 55px;
    left: 85px;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(207, 206, 206);
  }
  .custom__checkbox {
    position: relative;
    left: 82px;
    top: 88px;
  }
  .entrance {
    position: relative;
    width: 95px;
    height: 35px;
    background-color: #030a70;
    border-radius: 5px;
    color: white;
    top: 70px;
    left: -135px;
  }
  .wrapper__block {
    display: block;
    position: relative;
    width: 32%;
    height: 585px;
    background: #030a70;
    border: 1px solid gray;
    margin: 60px;
    top: 20px;
  }
  .form__wrap2 {
    width: 93%;
    height: 91%;
    background: #f2f3fa;
    border-radius: 10px;
    margin: 19px;
  }
  .text__email__2 {
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 1rem;
  }
  .email__2 {
    position: relative;
    width: 45%;
    height: 15px;
    top: 38px;
    left: 20px;
    border-radius: 5px;
    color: rgb(207, 206, 206);
  }
  .text__password2 {
    position: relative;
    left: 70px;
    top: 50px;
    font-size: 1rem;
  }
  .password__2 {
    position: relative;
    width: 45%;
    height: 15px;
    top: 79px;
    left: 15px;
    border-radius: 5px;
    color: rgb(207, 206, 206);
  }
  .custom__checkbox2 {
    position: absolute;
    display: inline-block;
    top: 280px;
    left: 70px;
  }
  .entrance__2 {
    position: absolute;
    width: 35%;
    height: 35px;
    background-color: #030a70;
    border-radius: 5px;
    color: white;
    top: 60px;
    left: 120px;
  }
  @media screen and (max-width: 768px;){
    .wrapper__block {
      width: 100%;
    }
  }
    